@import url(./style.scss);
$main-color: #007bff;
$main-bg-color: #0095ff;

main {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 90%;
  padding-top: 20px;
  padding-bottom: 100px;
  box-sizing: border-box;
  .code-box {
    width: 40vw;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    .code-text {
      height: 100%;
      pre {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 0;

        code {
          box-sizing: border-box;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          font-size: 1.5rem;
          white-space: pre-wrap;
        }
        #full-screen-icon {
          fill: #d9d9d9;
          position: absolute;
          width: 30px;
          bottom: 10px;
          right: 10px;
          cursor: pointer;
        }
      }
    }
  }
  .detail-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25rem;
    height: 100%;
    padding: 15px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    .top-box {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .title {
        font-size: 2rem;
        font-weight: 500;
      }
      .user-info {
        cursor: pointer;
        color: black;
        text-decoration: none;
        .user-page {
          text-decoration: none;
          color: black;
        }
      }
      .description {
        display: flex;
        flex-direction: column;
        #watermark {
          display: flex;
          align-items: center;
          gap: 3px;
          margin: 15px 5px;
          align-self: flex-end;
          color: rgba(0, 0, 0, 0.35);
          #generate-by-gpt {
            margin: 0;
          }
          #gpt-icon {
            width: 20px;
            fill: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
    .bottom-box {
      display: flex;
      align-items: center;
      gap: 15px;
      .like-box {
        display: flex;
        align-items: center;
        gap: 5px;
        #like-icon {
          height: fit-content;
          width: 20px;
          padding: 10px;
          border-radius: 50%;
          border: 1px solid #d9d9d9;
          cursor: pointer;
          &.liked {
            fill: white;
            background-color: #007bff;
            border: none;
          }
        }
      }
      .copy {
        height: 40px;
        width: 40vw;
        background-color: $main-bg-color;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
    }
  }
}
