@import url(./style.scss);
$main-color: #007bff;
$main-bg-color: #0095ff;

main {
  display: flex;
  justify-content: center;
  gap: 20px;
  .code-box {
    width: 50vw;
    height: 80vh;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    .code-text {
      overflow-x: hidden;
      width: 100%;
      height: 100%;

      pre {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      code {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        white-space: pre-wrap;
      }
    }
  }
  .detail-box {
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 80vh;
    border: 1px solid #e0e0e0;
    .download-btn {
      align-self: self-end;
      margin-bottom: 25px;
      background-color: $main-bg-color;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      height: 40px;
      width: 90%;
    }
  }
}
