@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Pen+Script&display=swap");

body,
html {
  overflow-x: hidden;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
#page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  margin: 0 auto;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box; // padding, border가 width/height에 포함되도록

  .header-logo ul.logo {
    list-style: none;
    padding-left: 0; // 기본 list 왼쪽 여백 제거
  }

  .header-menu ul.menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
    gap: 12px;
  }

  .create-code-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px 15px;
    cursor: pointer;
    color: black;

    &:hover {
      background-color: black;
      color: white;
    }
  }
  .user-name {
    .user-name-text {
      cursor: pointer;
    }
  }
  .login-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px 15px;
    cursor: pointer;
    color: black;

    &:hover {
      background-color: black;
      color: white;
    }
  }
  .logout-btn {
    cursor: pointer;
  }
}

.tab-menu {
  padding: 0 60px;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;

    .tab-button {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 6px 8px 0;
      text-decoration: none;
      color: #495057;
      font-weight: 600;
      border-bottom: 3px solid transparent;
      transition: color 0.2s ease, border-color 0.2s ease;

      &:hover {
        color: #0056b3;
      }

      &.active {
        color: #007bff;
        border-bottom-color: #007bff;
      }
    }
    .tab-icon {
      height: 1.8em;
      width: auto;
    }
  }
}

#main-content {
  #post-list-container {
    .detail-page {
      text-decoration: none;
      p {
        color: black;
      }
    }
    display: grid;
    gap: 40px;
    padding: 20px 50px 0;
    grid-template-columns: repeat(auto-fill, 318px);
    justify-content: center;
    .post-list-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      width: 100%;
      min-height: 380px;
      background-color: white;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;

      .code-text {
        padding: 10px;
        overflow-x: hidden;

        pre {
          margin: 0;
          padding: 0;
          overflow: hidden;
        }

        code {
          display: block;
          height: 270px;
          overflow: hidden;
          white-space: pre-wrap;
        }
      }
    }
    .code-information {
      display: flex;
      padding: 6px 20px 0 18px;
      border-top: 1px solid #e0e0e0;
      justify-content: space-between;
      gap: 10px;
      .info-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2px;
        margin: 0;
        padding: 0;
        p {
          margin: 0;
          padding: 0;
        }
        .title {
          font-size: 1.2rem;
          font-weight: 450;
        }
        .student-info {
          font-size: 0.8rem;
        }
      }
      .like-box {
        display: flex;
        gap: 4px;
      }
    }
  }
}

#page-footer {
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
}
